<?xml version="1.0" encoding="UTF-8" ?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0" metadata-complete="true">

  <description>Banking</description>
  <display-name>Banking</display-name>

  <request-character-encoding>UTF-8</request-character-encoding>


  <!-- Define servlets that are included in the example application -->
  <servlet>
    <servlet-name>AccountHistory</servlet-name>
    <servlet-class>AccountHistory</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AccountBalances</servlet-name>
    <servlet-class>AccountBalances</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CreateAccount</servlet-name>
    <servlet-class>CreateAccount</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CloseAccount</servlet-name>
    <servlet-class>CloseAccount</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ALLUSERS</servlet-name>
    <servlet-class>ALLUSERS</servlet-class>
  </servlet>
    <servlet>
    <servlet-name>Withdraw</servlet-name>
    <servlet-class>Withdraw</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>WithdrawProcessor</servlet-name>
    <servlet-class>WithdrawProcessor</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>AccountHistory</servlet-name>
    <url-pattern>/AccountHistory</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AccountBalances</servlet-name>
    <url-pattern>/AccountBalances</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CreateAccount</servlet-name>
    <url-pattern>/CreateAccount</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CloseAccount</servlet-name>
    <url-pattern>/CloseAccount</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ALLUSERS</servlet-name>
    <url-pattern>/ALLUSERS</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Withdraw</servlet-name>
    <url-pattern>/Withdraw</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WithdrawProcessor</servlet-name>
    <url-pattern>/WithdrawProcessor</url-pattern>
  </servlet-mapping>

</web-app>